name: Waka Readme

on:
  schedule:
    - cron: '0 0 * * *' # Runs at midnight every day
  workflow_dispatch:

jobs:
  update-readme:
    name: Update Readme with WakaTime Stats
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: anuraghazra/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SHOW_OS: "true"
          SHOW_PROJECTS: "true"
          SHOW_EDITORS: "true"
          SHOW_TIMEZONE: "true"
          SHOW_LANGUAGE: "true"
          SHOW_LINES_OF_CODE: "true"